.main-window {
  position: absolute;
  top: var(--main-window-top);
  left: calc(var(--sidebar-width) + var(--main-window-left));
  width: var(--main-window-width);
  height: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: start;
}

.simple-starter-templ {
  width: 85%;
  font-weight: 700;
}

.simple-starter {
  margin: 0;
  font-size: var(--big-font-size);
}

.template {
  margin: 0;
  color: var(--highligh-color);
  font-size: var(--template-font-size);
  line-height: 64%;
}

.template:hover {
  color: var(--alt-color-1);
}

.a-clean-simple {
  margin-top: 4.4rem;
  width: 85%;
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  line-height: 145%;
  letter-spacing: 0.03rem;
}

.button {
  margin-top: 2.5rem;
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: var(--button-font-size);
  border-radius: var(--button-radius);
  border: 3px solid var(--main-color);
  background: none;
  width: 31rem;
  height: 6rem;
}

.button:hover {
  border-color: var(--alt-color-1);
}

.thumbs {
  margin-top: 8rem;
  width: var(--main-window-width);
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thumbs-icon {
  width: auto;
  width: 22rem;
  height: 11rem;
  border-radius: var(--thumbs-radius);
  border: 5px solid var(--main-color);
}

.thumbs-icon:hover {
  border: 5px solid var(--alt-color-1);
}

.NewsBox {
  margin-top: 9rem;
  font-size: var(--news-font-size);
  font-weight: 700;
}

#downwardTriangle:hover {
  stroke: #F2C94C;
}

.lorem-ipsum-dolor-container {
  margin-top: 1rem;
  width: 85%;
  font-family: var(--body-font);
  font-size: var(--basement-font-size);
  font-weight: 500;
}

@media (max-width: 1399px) {
  .thumbs {
    width: 98%;
  }

  .thumbs-icon {
    width: 22%;
  }

  #downwardTriangle {
    width: 3rem;
    height: 2.3rem
  }
}

@media (max-width: 991px) {
  .button {
    width: 30%;
  }


}

@media (max-width: 767px) {
  .thumbs-icon {
    width: 18rem;
  }

  body {
    --button-font-size: 1.5rem;
  }

}

@media (max-width: 575px) {
  .thumbs {
    justify-content: space-evenly;
  }

  .a-clean-simple,
  .simple-starter-templ,
  .NewsBox,
  .lorem-ipsum-dolor-container {
    align-self: center;
  }

  .button {
    margin-left: 4rem;
  }

  #downwardTriangle {
    width: 2.5rem;
    height: 2rem;
  }

}

@media (max-width: 359px) {
  .main-window {
    left: 1rem;
    width: 36rem;
    align-self: center;
  }
  .button { margin-left: 0; align-self: center;}

  #downwardTriangle {
    width: 2rem;
    height: 1.5rem;
  }

  .thumbs,
  .NewsBox {
    margin-top: 3rem;
  }

  .simple-starter-templ,
  .a-clean-simple {
    width: auto;
  }

  .thumbs-icon {
    width: 20rem;
    margin-top: 2rem;
  }

  .a-clean-simple {
    width: 70%;
  }

}