.home {
  width: var(--screen-width);
  height: var(--screen-height);
  color: var(--main-color);
  font-family: var(--main-font);
}
.dashboard-desktop {
  width: var(--screen-width);
  height: var(--screen-height);
  opacity: 0.9; /*убрать после отладки*/
  overflow: hidden;
  background-color: var(--darkblue);
}
.background {
  position: absolute;
  width: var(--screen-width);
  height: var(--screen-height);
}
.fire_bgd-icon {
  width: 100%;
  height: var(--screen-height);
  opacity: 0.7;
}
.sidebar {
  position: absolute;
  background-color: var(--vdarkblue);
  width: var(--sidebar-width);
  height: var(--screen-height);
  opacity: 0.5;
}
.menu {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  top: 72px;
  width: calc(var(--sidebar-width) * 0.9);
  height: var(--screen-height);
  align-items: center;
}
.menu-item {
  font-size: var(--menu-font-size);
  color: var(--main-color);
  text-decoration: none;
  margin-top: 14%;
}
.active-menu-item::before {
  position: relative; 
  content: url('../img/marker.svg'); 
  right: calc(var(--sidebar-width) * 0.4); /* не научно */
  top: calc(var(--marker-height) / 3.5); /*тут как-то надо учесть высоту надписей, но пока костыль (*/
}
.menu-item:hover {
  color: var(--alt-color-1);
}
.contact,
.support,
.social {
  opacity: 0.8;
}
.contact {
  margin-top: 116%;
}
.contact:hover,
.support:hover,
.social:hover {
  color: var(--alt-color-1);
}
.copyright {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.25;
  margin-top: 23%;
}
.social-box {
  position: absolute;
  top: 0;
  left: 1640px;
  width: 232px;
  height: 73px;
  border-radius: 0 0 var(--thumbs-radius) var(--thumbs-radius);
  background-color: var(--highligh-color);
}
.social-box:hover {
  background-color: var(--alt-color-1);
}
.twitter-icon {
  padding-top: 13%;
  padding-left: 21%;
}
.facebook-icon {
  padding-left: 38%;
}
.yourlogo {
  margin-bottom: 41px;  /* с макета*/
  font-family: var(--main-font);
  font-size: var(--logo-font-size);
}
.your {
  color: var(--highligh-color);
  font-weight: 600;
}
.your:hover {
  color: var(--alt-color-1);
}
.logo {
  letter-spacing: 4.5%;
  color: var(--main-color);
}