html {
  font-size: 62.5%;
}

body {
  margin: 0;
  box-sizing: border-box;
  line-height: normal;
  
  --main-font: 'Oswald', sans-serif;
  --body-font: 'Roboto', sans-serif;
  --alt-font: 'Montserrat', sans-serif;
  
  /*все размеры будут здесь, для обеих страниц, и чтобы можно было быстро поменять размер*/
  --basement-font-size: 1.6rem; /*14px;*/
  --menu-font-size: 3rem;
  --expl-font-size: 2rem; 
  --body-font-size: 3rem;
  --page-font-size: 2.5rem;
  --body-font-size2: 2.3rem;
  --news-font-size: 3.5rem; 
  --big-font-size: 5rem;
  --template-font-size: 10.5rem;

  --screen-height: 108rem; /* 1080px;*/
  --screen-width: 192rem;
  --sidebar-width: calc(var(--screen-width) * 0.177); /*34rem*/
  --marker-height: 3.5rem;
  --logo-code-size: 12rem; 
  --main-window-top: 13rem;  
  --main-window-left: 18rem;  
  --main-window-width: calc(var(--screen-width) - var(--sidebar-width) - var(--main-window-left) - 2rem);
  --text-window-left: 15rem;  

  --main-color: #FFF;
  --highligh-color: #A276FF;
  --alt-color-1: #decc95;
  --control-color: #858585;
  --darkblue: #0f185a;
  --vdarkblue: #0b0b0d;
  
  --thumbs-radius: 1.1rem;
  --button-radius: 1.7rem;
  --screen-ratio: 0.5625
}
