.main-window {
  position: absolute;
  top: var(--main-window-top);
  left: calc(var(--sidebar-width) + var(--main-window-left));
  width: var(--main-window-width);
  height: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: start;
}
.frontend {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.simple-starter-templ {
  width: 64%;
  font-weight: 700;
}

.simple-starter {
  margin: 0;
  font-size: var(--big-font-size);
}

.template {
  margin: 0;
  color: var(--highligh-color);
  font-size: var(--template-font-size);
  line-height: 60%;
}

.template:hover {
  color: var(--alt-color-1);
}

.skills {
  margin-right: 1rem;
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills :hover {stroke: var(--alt-color-1);}

.my-skills {
  width: 80%;
}
.skills-icon {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.a-clean-simple {
  margin-top: 4.4rem;
  width: 90%;
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  line-height: 145%;
  letter-spacing: 0.03rem;
}

.thumbs {
  margin-top: 2rem;
  width: var(--main-window-width);
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thumbs-icon {
  border-radius: var(--thumbs-radius);
  border: 5px solid var(--main-color);
}

.thumbs-icon:hover {
  border: 5px solid var(--alt-color-1);
}

.project {
  font-family: var(--alt-font);
  font-size: var(--basement-font-size);
  width: 40rem;
  height: 30rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
}

.about-me {
  margin-top: 4rem;
  width: 83%;
  font-family: var(--body-font);
  font-size: var(--basement-font-size);
  letter-spacing: 0.2em;
}

.project-expl {
  width: 33rem; height: 4rem;
};