#project-2,
#project-3,
#project-4 {
    display: none;
}

.main-window {
    position: absolute;
    top: var(--main-window-top);
    left: calc(var(--sidebar-width) + var(--main-window-left));
    width: var(--main-window-width);
    height: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: start;
}

.projects {
    margin-right: 1rem;
    font-family: var(--body-font);
    font-size: var(--expl-font-size);
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects-header {
    font-family: var(--alt-font);
    font-size: var(--body-font-size);
    margin-bottom: 3rem;
}

.projects-row {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects-expl {
    width: 40%;
    letter-spacing: 0.7rem;
    margin-right: 5rem;
}

.projects-screen-outer {
    overflow: scroll;
    width: 70rem;
    height: auto;
    cursor: url("../img/MouseScrool.png"), auto;
}

.projects-screen-inner {
    width: 90rem;
}

.projects-screen-inner-2 {
    width: 225rem;
}

.projects-screen-inner-3,
.projects-screen-inner-4 {
    width: 130rem;
}

.projects-img {
    margin-left: 2rem;
    width: 40rem;
    border-radius: 7rem;
    border: 1rem solid var(--darkblue);
}

.projects-img-hor {
    width: 70rem;
}

.main-window>.thumbs {
    margin-top: 0rem;
    cursor: url("../img/cursor.svg"), auto;
    flex-wrap: nowrap;
}

.main-window>.thumbs>.project {
    width: 30rem;
    height: auto;
    margin-bottom: 5rem;
}

.thumbs-icon {
    border-radius: var(--thumbs-radius);
    border: 5px solid var(--main-color);
    width: 25rem;
}

.main-window>.project-expl {
    width: 25rem;
}

::-webkit-scrollbar {
    width: 0;
}

@media (max-width: 1399px) {
    .projects-expl {
        letter-spacing: 0.3rem
    }

    .projects-screen-outer {
        width: 60rem;
    }

    .projects-screen-inner {
        width: 115rem;
    }

    .projects-screen-inner-2,
    .projects-screen-inner-3 {
        width: 250rem;
    }

    body {
        --screen-height: 108rem;
    }
}

@media (max-width: 991px) {
    .projects-expl {
        letter-spacing: 0.2rem;
        width: 30%;
    }
}

@media (max-width: 767px) {
    .projects-expl {
        width: 25%;
    }

    .projects-img {
        width: 30rem;
    }

    .projects-screen-inner {
        width: 145rem;
    }

    .projects-screen-inner-2,
    .projects-screen-inner-3 {
        width: 210rem;
    }

    body {
        --body-font-size: 1.6rem;
    }

}

@media (max-width: 575px) {
    body {
        --body-font-size: 1.6rem;
        --expl-font-size: 1.4rem;
    }

    .projects-expl {
        width: 15%;
        text-align: end;
        margin-right: 1rem;
    }

    .projects-header {
        width: 30%;
    }

    .projects-img {
        margin-left: 0.5rem;
        width: 19rem;
        border-radius: 4rem;
    }

    .projects-screen-inner {
        width: 110rem;
    }

    .projects-screen-inner-2 {
        width: 150rem;
    }
}

@media (max-width: 359px) {
    body {
        --screen-height: 280rem;
    }

    #project-2,
    #project-3,
    #project-4 {
        display: block;
    }

    .main-window>.thumbs {
        display: none;
    }

    .projects-header {
        width: 50%;
    }

    .projects-expl {
        width: 50%;
        text-align: start;
        margin-bottom: 1rem;
    }

    .projects-screen-inner,
    .projects-screen-inner-3,
    .projects-screen-inner-4 {
        width: 95rem;
    }

    .projects-screen-inner-2 {
        width: 135rem;
    }

}