.dashboard-desktop-child {
    position: absolute;
    margin-left: var(--text-window-left);
    margin-top: -4rem;
    width: 71%;
    height: 100%;
    border-radius: 4rem 4rem 0 0;
    background-color: rgba(255, 255, 255, 0.85);
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .text-block {
    margin-top: 10rem;
    margin-left: 10rem;
    color: #111;
    width: 62rem;
    font-size: var(--page-font-size);
    letter-spacing: 0.01em;
  }
  
  .clean-page {
    font-size: var(--big-font-size);
    font-weight: 700;
  }
  .highligh-line {
    display: block;
    margin-top: 0.5rem;
    width: 8rem;
    height: 0.7rem;
    border-radius: 1rem;
    background-color: var(--highligh-color);
  }
  
  .main-text {
    line-height: 156%;
    font-family: var(--body-font);
  }

  .starsky {
    margin-top: 11rem;
    margin-left: 12rem;
    width: 40rem;
    height: 60rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.45);
    border: 0.6rem solid var(--main-color);
  }
  
  .starsky:hover {
    border: 0.6rem solid var(--alt-color-1);
  }
  
  .starsky-icon {
    height: 100%;
    width: 100%;
  }
  
  @media (max-width: 1399px) {
    body {
      --text-window-left: 5rem;
      --page-font-size: 2.3rem;
      --screen-height: 108rem;
    }
  
    .text-block {
      width: 50%;
      margin-top: 5rem;
      margin-left: 5rem;
    }
    .main-text {
      line-height: 125%;
    }
    .starsky {
      margin-top: 5rem;
      margin-left: 5rem;
      width: 33%;
      height: 45rem;
    }
  }
  
  @media (max-width: 1199px) {
    body {
      --text-window-left: 3rem;
      --page-font-size: 2rem;
    }
    .starsky {
      height: 40rem;
    }
  }
  
  @media (max-width: 991px) {
  
    .dashboard-desktop-child {
      margin-top: -7rem;
    }
  
    .starsky {
      margin-left: 3rem;
      height: 35rem;
      border-radius: 2rem;
    }
  }
  
  @media (max-width: 767px) {
    .starsky {
      margin-left: 2rem;
      height: 27rem;
    }
    body{
      --page-font-size:1.7rem;
      --screen-height: 90rem;
    }
  }
  
  @media (max-width: 575px) {
    .dashboard-desktop-child {
      margin-top: -10rem;
      justify-content: center;
    }
 
    .text-block {
      width: 90%;
      margin-top: 2rem;
      margin-left: 0;
    }
  
    .starsky {
      width: 50%;
      margin-top: 0;
      height: 30rem;
    }
  
  }
  
  @media (max-width: 359px) {
    body {
      --page-font-size: 1.7rem;
      --text-window-left: 2rem;
      --screen-height: 125rem;
    }
  
    .dashboard-desktop-child {
      margin-right: var(--text-window-left);
      width: auto;
      background: none;
      flex-direction: column;
      align-content: center;
    }
  
    .text-block {
      margin-top: 0rem;
      width: 95%;
      color: var(--main-color);
    }
  
    .starsky {
      margin-top: 1rem;
      width: 80%;
      height: auto;
    }
  
  }