* {
  margin: 0;
  padding: 0;
  position: absolute;
}
.numpad {
  top: var(--numpad-top-position);
  left: var(--numpad-left-position);
}

.btn-clear,
.btn-figure, 
.btn-operation,
.btn-backspace,
.btn-equals,
.btn-zero,
.btn-point
 {
  width: var(--btn-size);
  height: var(--btn-size);
  color: var(--color-white);
  border-radius: var(--btn-radius);
  border: none;
}
 .btn-figure,
 .btn-point,
 .btn-equals,
 .btn-zero {
  font-size: var(--font-size-figure);
  background-color: var(--color-steelblue);
}
.btn-clear,
.btn-operation {
  color: var(--color-calc);
  background-color: var(--color-gainsboro);
  font-size: var(--font-size-symbols);
  font-weight: 300;
}
.btn-clear {
  font-size: var(--font-size-clear);
}
.btn-backspace {
  background-color: var(--color-backspace);
}
.btn-point {
  font-size: var(--font-size-clear);
}

.btn-equals,
.btn-zero {
  border-radius: var(--zero-radius);
}
.btn-equals {
  height: 146px;
  background-color: var(--color-equals);
}
.btn-zero {
  width: 146px;
  height: var(--btn-size);
}

.first-col {
  left: var(--first-position);
}
.second-col {
  left: var(--second-position);
}
.third-col {
  left: var(--third-position);
}
.fourth-col {
  left: var(--fourth-position);
}

.first-row {
  top: var(--first-position);
}
.second-row {
  top: var(--second-position);
}
.third-row {
  top: var(--third-position);
}
.fourth-row {
  top: var(--fourth-position);
}
.fifth-row {
  top: var(--fifth-position);
}

.calc-screen {
  top: 28px;
  left: 30px;
  width: 300px;
  height: 210px;
  font-size: var(--font-size-clear);
  display: flex;
  align-items:end;
  flex-direction: row-reverse;
  word-wrap: break-word;
  color: var(--color-white);
  border-radius: var(--screen-radius);
  background-color: var(--color-screen);
}
.process{
  padding: 10px;
}
.calculator {
  width: 360px;
  height: 640px;
  border-radius: var(--screen-radius);
  background-color: var(--color-calc);
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: var(--font-inter);
}

:root {
  --font-inter: Inter;

  --font-size-figure: 25px;
  --font-size-clear: 40px;
  --font-size-symbols: 50px;
  
  --color-gainsboro: #d9d9d9;
  --color-white: #fff;
  --color-steelblue: #4b72a1;
  --color-backspace: #e94560;
  --color-screen: #afafb3;
  --color-equals: #0f3460;
  --color-calc: #1a1a2e;

  --numpad-left-position: 29px;
  --numpad-top-position: 246px;
  --first-position: 0px;
  --second-position: 78px;
  --third-position: 156px;
  --fourth-position: 234px;
  --fifth-position: 312px;
    
  --btn-size: 68px;

  --screen-radius: 20px;
  --zero-radius: 37px;
  --btn-radius: 50%;
}
