* {
  box-sizing: border-box;
}
.calculator {
  width: 360px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 75px;
  gap: 10px;
  border-radius: var(--screen-radius);
  background-color: var(--color-calc);
  box-shadow: 8px 8px 4px 0px var(--color-shadow);
  font-family: var(--font-inter);
}

.calc-screen {
  padding: 10px;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  word-break: break-all;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  font-size: var(--font-size-clear);
  color: var(--color-white);
  border-radius: var(--screen-radius);
  background-color: var(--color-screen);
  box-shadow: 0px 4px 8px 0px var(--color-shadow) inset;
}

.calculator > button {
  width: var(--btn-size);
  height: var(--btn-size);
  border-radius: var(--btn-radius);
  border: none;
}

.btn-figure,
.btn-point,
.btn-equals,
.btn-zero {
  color: var(--color-white);
  font-size: var(--font-size-figure);
  background-color: var(--color-steelblue);
}

.btn-operation {
  background-color: var(--color-gainsboro);
  font-size: var(--font-size-symbols);
}

.clear-bgd {
  background-color: var(--color-clear);
 }
 .memory-bgd {
  background-color: var(--color-memory);
 }

.btn-clear,
.btn-equals,
.btn-point {
  font-size: var(--font-size-clear);
}
.font-s-memory {
  font-size: var(--font-size-memory);
}

.calculator .btn-equals,
.calculator .btn-zero {
  border-radius: var(--zero-radius);
}

.calculator .btn-equals {
  height: 156px;
  grid-column: 4;
  grid-row: 7;
  background-color: var(--color-equals);
}

.calculator .btn-zero {
  width: 146px;
  grid-column: 1 / span 2;
}

.btn-clear:hover,
.btn-figure:hover,
.btn-operation:hover,
.btn-equals:hover,
.btn-zero:hover,
.btn-point:hover {
  box-shadow: 0px 4px 8px 0px var(--color-shadow) inset;
}
  .btn-figure:hover,
  .btn-zero:hover
   {font-size: 200%; }

:root {
  --font-inter: Inter;

  --font-size-figure: 25px;
  --font-size-memory: 30px;
  --font-size-clear: 40px;
  --font-size-symbols: 45px;

  --color-gainsboro: #d9d9d9;
  --color-clear: #c27a7a;
  --color-memory: #7ec494;
  --color-white: #fff;
  --color-steelblue: #4b72a1;
  --color-screen: #afafb3;
  --color-equals: #0f3460;
  --color-calc: #1a1a2e;
  --color-shadow: rgba(0, 0, 0, 0.25);

  --btn-size: 68px;

  --screen-radius: 20px;
  --zero-radius: 35px;
  --btn-radius: 50%;
}